html {
  box-sizing: border-box;
  background-color: #e5e5e5;
  /* font-size: 12px; */
  font-family: "Fira Sans", sans-serif;
  font-size: calc(3px + 1vw);
}

@media screen and (min-width: 1100px) {
  html {
    font-size: 15px;
  }
}

body {
  /* max-width: 75%; */
  width: 66.6rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3rem;
  margin: 0;
}

/** HEADER **/
.header-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c7ddea url(../img/man-and-child.png) 90% 100% no-repeat;
  background-size: 15%;
  /* height: 40vh; */
  height: 25rem;
  font-weight: 900;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 0 10rem;
}

.menu-item {
  color: #858282;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem 2rem;
}
.menu-item:hover {
  color: black;
}
.menu-item:last-child {
  color: black;
  font-weight: bold;
}

/** MAIN **/
.input-form {
  display: flex;
  justify-content: flex-start;
  color: #ebe9e9;
  background-color: #a9a19e;
  padding: 7rem 1rem 4rem 6rem;
}
.input-form > h2 {
  margin: 0;
  color: white;
}
.input-form > form {
  padding: 0 0 0 10rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 20rem;
}
.form-row > label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-row textarea {
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  /* width: 20rem; */
  min-height: 10rem;
  margin-bottom: 10px;
  padding: 1rem;
  resize: none;

  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.button {
  color: black;
  background-color: #fff;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1.4rem;

  text-decoration: none;
  text-align: center;
  border-radius: 3rem;
  font-weight: bold;
  font-size: 0.6rem;
  align-self: flex-end;
}

/** FOOTER **/
.footer-map {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1rem;
  background-image: url(../img/map-contact.png);
  background-position: 50% 50%;
  height: 60vh;
}

.map-contact {
  background-color: #fab131;
  color: white;
  display: inline-block;
  padding: 1.5rem;
  padding-bottom: 3rem;
  width: 100%;
  grid-row: 2 / 5;
  grid-column: 2 / 6;
}

.map-pin {
  grid-row: 4;
  grid-column: 7;
}

.footer-dark-area {
  background-color: #777574;
  height: 20rem;
}
